body{ background-color: rgb(246, 248, 101);}

.container{
    overflow: hidden;
     display: flex;
     align-items: center;
     flex-direction: column;/*縦に並べる*/
    font-weight: 600;/*フォントの太さ*/
    font-family: Kosugi Maru;
}

.type-display{
    font-size: 50px;
    padding-top:  0%;
}
.type-input{
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}

.timer{
    font-size: 55px;
    padding-top: 0%;
    }
.time{font-size: 30px;
    padding-top: 70%;
}
     
     