body{ background-color: rgb(246, 248, 101);}

.container{
    overflow: hidden;
     display: flex;
     align-items: center;
     flex-direction: column;/*縦に並べる*/
    font-weight: 600;/*フォントの太さ*/
    font-family: Kosugi Maru;
}

.type-display{
    font-size: 60px;
    padding-top:  20%;
}
.type-input{
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}

.timer{
    font-size: 4rem;
    }
.time{font-size: 2rem;
    padding-top: 20%;
}
     
     