body{
    background-color: rgb(245, 235, 100);
    text-align: center;
}

.aaa{
    background-color:white;
    border-radius: 20px;
}

.bbb{
    background-color:white;
    border-radius: 20px;

}